# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\shopping\支付中心源码\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
